# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @ajay-ib @a-ajay

# Specify owners for specific directories or files
*.go    @ajay-ib @a-ajay